/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 0 20px;
}

header {
    background: #fff;
    color: #333;
    padding: 20px 0;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

header h1 {
    font-family: 'Coming Soon', cursive, sans-serif;
    font-size: 1.7rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: underline black;
    color: #333;
    font-weight: bold;
}

.hero-section {
    text-align: center;
    padding: 20px 15px;
    background: #fff;
}

.hero-section img {
    position: relative;
    text-align: relative;
}

.hero-section img {
    position: relative;
    top: 0%;
    left: 0%;
    width: 20%;
    height: 0%;
    color: rgba(0, 0, 0, 0.922); /* Intentar ajustar opacidad de imagen */
    z-index: 1;
}

.hero-section div {
    position: relative;
    top: 0%;
    left: 0%;
    transform: translate(0%, -100%);
    color: #333;
    font-size: 50px;
    font-weight: bold;
    z-index: 2;
    margin-top: -50px;
}

.hero-section p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.hero-section button {
    background: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

.info-section {
    text-align: center;
    padding: 50px 20px;
    background: #f4f4f4;
}

.info-section h2 {
    font-size: 2rem;
    margin-bottom: 30px;
}

.info-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: #fff;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card img {
    max-width: 50%;
    height: auto;
    margin-bottom: 15px;
}

.card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.card p {
    font-size: 1rem;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
